{% load static %}
<div class="row">
    <div class="col">
        <a href="https://www.google.com/maps/place/{{ walk.start.1 }},{{ walk.start.0 }}" class="card-link" target="_blank">
            <span data-toggle="tooltip" title="Open in Google Maps">
                <img src="{% static 'core/images/google-maps.png' %}" width="16px" height="20px"/>
            </span>
        </a>
        {% if walk.what3words %}
            <a href="https://what3words.com/{{ walk.what3words }}" class="card-link small" target="_blank">
                <span class="w3w-slashes" data-toggle="tooltip" title="Open in What3Words {{ walk.what3words }}">///</span>
            </a>
        {% endif %}
    </div>
</div>